<template>
  <Layout>
    <h1>{{ $context.title }}</h1>
    <div>
      <p v-for="(content, item) in $context.content" v-bind:key="item">{{content.text}}</p>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo() {
    return {
      title: "Index",
      titleTemplate: this.$context.title
    };
  }
};
</script>
